# ==========================================
# 1. БАЗОВЫЕ НАСТРОЙКИ
# ==========================================
* text=auto eol=lf

*.go     text eol=lf
*.json   text eol=lf
*.md     text eol=lf
*.txt    text eol=lf
*.xml    text eol=lf
*.tsx    text eol=lf
*.tsj    text eol=lf
*.yml    text eol=lf
Makefile text eol=lf
*.ps1    text eol=lf

# ==========================================
# 2. GIT LFS
# ==========================================
cognitive-tools/tileset_gen/unifont-17.0.03.ttf filter=lfs diff=lfs merge=lfs -text linguist-vendored

# ==========================================
# 3. ИЗОБРАЖЕНИЯ И БИНАРНИКИ
# ==========================================
*.png binary
*.jpg binary
*.jpeg binary

# ==========================================
# 4. ЛИЦЕНЗИИ (Vendored)
# ==========================================
cognitive-tools/tileset_gen/LICENSE.txt text linguist-vendored
cognitive-tools/tileset_gen/OFL-1.1.txt text linguist-vendored

# ==========================================
# 5. СПЕЦИФИЧНЫЕ ИНСТРУМЕНТЫ
# ==========================================
cognitive-tools/*.hexpat text diff=rust

# ==========================================
# 6. СГЕНЕРИРОВАННЫЕ ФАЙЛЫ (Generated)
# ==========================================
cognitive-tools/tiled/assets/** linguist-generated

assets/materials.json text linguist-generated

go.sum text linguist-generated
go.work.sum text linguist-generated